{
  "swagger": "2.0",
  "info": {
    "title": "LUIS Programmatic APIs v2.0",
    "version": "v2.0",
    "description": "This API is currently available in:\n\n* Australia East - australiaeast.api.cognitive.microsoft.com\n* West Europe - westeurope.api.cognitive.microsoft.com\n* West US - westus.api.cognitive.microsoft.com"
  },
  "host": "australiaeast.api.cognitive.microsoft.com",
  "basePath": "/luis/api/v2.0",
  "schemes": ["https"],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "x-servers": [
    {
      "url": "https://westus.api.cognitive.microsoft.com"
    },
    {
      "url": "https://cognitive-wu.cognitiveservices.azure.com"
    },
    {
      "url": "https://api.ProjectOxford.ai"
    }
  ],
  "paths": {
    "/apps/": {
      "post": {
        "description": "Creates a new LUIS app.",
        "operationId": "CreateApplication",
        "summary": "apps - Add application",
        "parameters": [
          {
            "name": "applicationCreateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ApplicationCreateObject"
            },
            "description": "Application name length has to be less than 50 characters. \n\nThe culture and tokenizer version of an app cannot be changed after the app is created. \n\nThe default version is \"0.1\""
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "schema": {
              "type": "string"
            },
            "description": "The ID of the created application.",
            "examples": {
              "application/json": "\"363187f1-c573-46b3-bc4c-ae01d686e68e\""
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. "
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Lists all of the user applications.",
        "operationId": "GetApplications",
        "summary": "apps - Get applications list",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A list of the user applications.",
            "examples": {
              "application/json": "[\n    {\n        \"id\": \"363187f1-c573-46b3-bc4c-ae01d686e68e\",\n        \"name\": \"MyFirstDummyApp\",\n        \"description\": \"This is my first dummy application\",\n        \"culture\": \"en-us\",\n        \"usageScenario\": \"IoT\",\n        \"domain\": \"Comics\",\n        \"versionsCount\": 3,\n        \"createdDateTime\": \"2017-01-31T16:15:54Z\",\n        \"endpoints\": {\n            \"PRODUCTION\": {\n                \"versionId\": \"0.1\",\n                \"isStaging\": false,\n                \"endpointUrl\": \"DummyUrl\",\n                \"assignedEndpointKey\": \"\",\n                \"endpointRegion\": \"westus\",\n                \"publishedDateTime\": \"2017-02-19T17:09:14Z\"\n            }\n        },\n        \"endpointHitsCount\": 0,\n        \"activeVersion\": \"0.1\",\n        \"ownerEmail\": \"test@domain.com\"\n    }\n]"
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationGetObject"
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}": {
      "delete": {
        "description": "Deletes an application.",
        "operationId": "DeleteApplication",
        "summary": "apps - Delete application",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "force",
            "in": "query",
            "description": "A flag indicating whether to ignore application dependencies while deleting or not. Default is false.",
            "type": "string",
            "default": "false",
            "enum": ["true", "false"]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": {
                "code": "Success",
                "message": "Operation Successful"
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing or malformed.",
            "examples": {
              "application/json": "Cannot find an application with the specified ID"
            }
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls",
            "examples": {
              "application/json": "Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription."
            }
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets the application info.",
        "operationId": "GetApplication",
        "summary": "apps - Get application info",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the application info.",
            "schema": {
              "$ref": "#/definitions/ApplicationGetObject"
            },
            "examples": {
              "application/json": {
                "id": "363187f1-c573-46b3-bc4c-ae01d686e68e",
                "name": "MyFirstDummyAp",
                "description": "This is my first dummy application",
                "culture": "en-us",
                "usageScenario": "IoT",
                "domain": "Comics",
                "versionsCount": 3,
                "createdDateTime": "2017-01-31T16:15:54Z",
                "endpoints": {
                  "PRODUCTION": {
                    "versionId": "0.1",
                    "isStaging": false,
                    "endpointUrl": "DummyUrl",
                    "endpointRegion": "westus",
                    "assignedEndpointKey": "",
                    "publishedDateTime": "2017-02-19T17:09:14Z"
                  }
                },
                "endpointHitsCount": 0,
                "activeVersion": "0.1",
                "ownerEmail": "test@domain.com"
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": \"Unauthorized\",\n        \"message\": \"Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API\"\n    }\n}\n{\n    \"error\": {\n        \"code\": \"Unauthorized\",\n        \"message\": \"Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API\"\n    }\n}\n\n{\n    \"error\": {\n        \"code\": \"Unauthorized\",\n        \"message\": \"User does not own this application\"\n    }\n}\n"
            }
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.",
            "examples": {
              "application/json": "The request is invalid."
            }
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "put": {
        "description": "Updates the name or description of the application.",
        "operationId": "UpdateApplication",
        "summary": "apps - Rename application",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationUpdateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ApplicationUpdateObject"
            },
            "description": "A JSON object containing Name and Description of the application."
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": {
                "code": "Success",
                "message": "Operation Successful"
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. "
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/querylogs/": {
      "get": {
        "description": "Gets the query logs of the past month for the application.",
        "operationId": "GetLogs",
        "summary": "apps - Download application query logs",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeResponse",
            "in": "query",
            "description": "indicate whether to include the response column in the csv file.",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "A CSV file containing the query logs for the past month.",
            "examples": {
              "application/octet-stream": "\"Query\",\"UTC DateTime\",\"Response\"\n\"hello, world!\",01/31/2017 17:17:41,\"{  \"\"query\"\": \"\"Hello, World!\"\",  \"\"topScoringIntent\"\": {    \"\"intent\"\": \"\"None\"\",    \"\"score\"\": 0.6277761  },  \"\"intents\"\": [    {      \"\"intent\"\": \"\"None\"\",      \"\"score\"\": 0.6277761    },    {      \"\"intent\"\": \"\"BookFlight\"\",      \"\"score\"\": 0.002136109    },    {      \"\"intent\"\": \"\"GetWeather\"\",      \"\"score\"\": 0.00142168161    }  ],  \"\"entities\"\": []}\"\n"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "400": {
            "description": "The app ID is missing or invalid.\nThe includeResponse is invalid.",
            "examples": {
              "application/json": "The request is invalid."
            }
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/octet-stream", "application/json"]
      }
    },
    "/apps/cultures": {
      "get": {
        "description": "Gets the supported LUIS application cultures.",
        "operationId": "GetCultures",
        "summary": "apps - Get LUIS application cultures list",
        "responses": {
          "200": {
            "description": "A list object containing the supported application cultures.",
            "examples": {
              "application/json": "[\n    {\n        \"name\": \"English\",\n        \"code\": \"en-us\"\n    },\n    {\n        \"name\": \"Chinese\",\n        \"code\": \"zh-cn\"\n    },\n    {\n        \"name\": \"French\",\n        \"code\": \"fr-fr\"\n    },\n    {\n        \"name\": \"French Canadian\",\n        \"code\": \"fr-ca\"\n    },\n    {\n        \"name\": \"Spanish\",\n        \"code\": \"es-es\"\n    },\n    {\n        \"name\": \"Spanish Mexican\",\n        \"code\": \"es-mx\"\n    },\n    {\n        \"name\": \"Italian\",\n        \"code\": \"it-it\"\n    },\n    {\n        \"name\": \"German\",\n        \"code\": \"de-de\"\n    },\n    {\n        \"name\": \"Japanese\",\n        \"code\": \"ja-jp\"\n    },\n    {\n        \"name\": \"Brazilian Portuguese\",\n        \"code\": \"pt-br\"\n    },\n    {\n        \"name\": \"Korean\",\n        \"code\": \"ko-kr\"\n    },\n    {\n        \"name\": \"Dutch\",\n        \"code\": \"nl-nl\"\n    }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls",
            "examples": {
              "application/json": "Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API."
            }
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/domains": {
      "get": {
        "description": "Gets the available application domains.",
        "operationId": "GetDomains",
        "summary": "apps - Get LUIS application domains list",
        "responses": {
          "200": {
            "description": "A list object containing the available application domains.",
            "examples": {
              "application/json": "[\n  \"Booking & Reference\",\n  \"Business\",\n  \"Comics\",\n  \"Communication\",\n  \"Education\",\n  \"Entertainment\",\n  \"Finance\",\n  \"Food & Nutrition\",\n  \"Gaming\",\n  \"Health & Fitness\",\n  \"Home Automation\",\n  \"Media & Video\",\n  \"Medical\",\n  \"Music & Audio\",\n  \"Navigation & Maps\",\n  \"News & Magazines\",\n  \"Personalization\",\n  \"Productivity\",\n  \"Real Estate\",\n  \"Scheduler\",\n  \"Shopping\",\n  \"Social Network\",\n  \"Sports\",\n  \"Telecom\",\n  \"Tools\",\n  \"Transportation\",\n  \"Translation\",\n  \"Travel & Local\",\n  \"Weather\",\n  \"Others\"\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls",
            "examples": {
              "application/json": "Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API."
            }
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/usagescenarios": {
      "get": {
        "description": "Gets the application available usage scenarios.",
        "operationId": "GetUsageScenarios",
        "summary": "apps - Get LUIS application usage scenarios list",
        "responses": {
          "200": {
            "description": "A list object containing the available application usage scenarios.",
            "examples": {
              "application/json": "[\n  \"IoT\",\n  \"Bot\",\n  \"Mobile Application\",\n  \"Other\"\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/assistants": {
      "get": {
        "description": "**THIS API IS DEPRECATED.**",
        "operationId": "GetAssistants",
        "summary": "apps - Get personal assistant applications",
        "responses": {
          "200": {
            "description": "A personal assistant apps JSON object containing the endpoint URLs for Cortana applications and the user's endpoint keys.",
            "examples": {
              "application/json": {
                "endpointKeys": [],
                "endpointUrls": {
                  "English": "EnglishDummyURL",
                  "Chinese": "ChineseDummyURL",
                  "French": "FrenchDummyURL",
                  "Spanish": "SpanishDummyURL",
                  "Italian": "ItalianDummyURL"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* invalid, malformed, or empty subscription key\n* subscription key doesn't match region\n* you are not the owner or collaborator"
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/import": {
      "post": {
        "description": "Imports an application to LUIS, the application's JSON or LU should be included in the request body. Returns new app ID.",
        "operationId": "ImportApplication",
        "summary": "apps - Import application",
        "parameters": [
          {
            "name": "appName",
            "in": "query",
            "description": "The imported application name.",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Media type of the request body",
            "type": "string",
            "default": "application/json",
            "enum": ["application/json", "text/plain"]
          },
          {
            "name": "jSONApp",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/JSONApp"
            },
            "description": "A JSON representing the LUIS application structure."
          }
        ],
        "consumes": ["application/json", "text/plain"],
        "responses": {
          "201": {
            "description": "The ID of the imported application.",
            "examples": {
              "application/json": "\"f8c64e2a-8635-4a09-8f78-39d7adc76ec5\""
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n\nThis error is returned is your import JSON is incorrect. This is usual due to using values in the JSON that are no longer used or missing properties that are required. The error message will reference the exact property that is causing the problem.  "
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/publish": {
      "post": {
        "description": "Publishes a specific version of the application.",
        "operationId": "PublishApplication",
        "summary": "apps - Publish application",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationPublishObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ApplicationPublishObject"
            },
            "description": "A JSON object containing the publish Properties.<br><br>\n\nThe flag \"isStaging\" should be set to true in case you want to publish to the STAGING slot, otherwise the application version will be published to the PRODUCTION slot.\nIn case you do not want to publish to either the PRODUCTION or STAGING slots, you can set the flag \"directVersionPublish\" to true and query the endpoint [directly using the versionId](https://westus.dev.cognitive.microsoft.com/docs/services/luis-endpoint-api-v3-0-preview/operations/5cb0a9459a1fe8fa44c28dd8).  \n\nThe [publish location](https://docs.microsoft.com/azure/cognitive-services/LUIS/luis-reference-regions#publishing-regions) is determined from the creation location."
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "An object containing the application endpoint URL and its assigned endpoint key.",
            "examples": {
              "application/json": {
                "endpointUrl": "DummyUrl",
                "subscription-key": "DummyEndpointKey",
                "endpointRegion": "westus",
                "isStaging": false
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n\nOther reasons for receiving this error:\n\n* app can't be published because model isn't trained\n* app can't be published in region specified\n\n"
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          },
          "207": {
            "description": "An object containing the application endpoint URL and its assigned endpoint key.",
            "examples": {
              "application/json": {
                "endpointUrl": "DummyUrl",
                "subscription-key": "DummyEndpointKey",
                "endpointRegion": "westus, cus",
                "failedRegions": "cus",
                "isStaging": false
              }
            }
          },
          "503": {
            "description": "A string with the error message",
            "examples": {
              "application/json": "\"Publishing failed due to unavailability of external dependencies. Please try again later.\""
            }
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/example": {
      "post": {
        "description": "Adds a labeled example to the application.",
        "operationId": "AddExample",
        "summary": "example utterances - Add label",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "exampleLabelObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ExampleLabelObject"
            },
            "description": "A JSON object containing the example label."
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "The ID of the created example.",
            "examples": {
              "application/json": {
                "UtteranceText": "book me a flight from cairo to redmond next thursday",
                "ExampleId": -11
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. "
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/examples": {
      "post": {
        "description": "Adds a batch of non-duplicate labeled examples to the specified application. Batch can't include hierarchical child entities.\n\nThe maximum batch size is 100 items. \n\nIf the item has the ExampleId and a value between 0 - 99, the returned result will also include the ExampleId. This is helpful if items have errors. \n\nSome items can pass while others fail. The returned result will indicate each item's status. \n",
        "operationId": "AddExamples",
        "summary": "example utterances - Batch add labels",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "exampleLabelObjectArray",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ExampleLabelObjectArray"
            },
            "description": "A JSON array containing non-duplicate example labels."
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "Indicates that the request was successful. The response contains a string array determining the IDs of the added labels.",
            "examples": {
              "application/json": "[\n  {\n    \"value\": {\n      \"UtteranceText\": \"book me a flight from cairo to redmond next thursday\",\n      \"ExampleId\": -11\n    },\n    \"hasError\": false\n  },\n  {\n    \"value\": {\n      \"UtteranceText\": \"what's the weather like in seattle?\",\n      \"ExampleId\": -12\n    },\n    \"hasError\": false\n  }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n\nThis error can be returned for several reasons: \n\n* too many items in batch\n* labeled examples list contains duplicates.\n* Item(s) includes intent that does not exist\n* item(s) include entity that does not exist\n* item(s) include prebuilt entity \n\nExamples of malformed JSON are:\n\n* incorrect use of a comma, for example a comma after the last item in the array\n* missing comma between property/value pairs\n* incorrect or missing colon between property and value\n* entityLabel array is present and has empty item in array {} without property or value\n"
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "207": {
            "description": "Indicates that the request was partially successful. The response contains a string array indicating the status of each of the added labels.",
            "examples": {
              "application/json": "[\n  {\n    \"value\": {\n      \"UtteranceText\": \"book me a flight from cairo to redmond next thursday\",\n      \"ExampleId\": -11\n    },\n    \"hasError\": false\n  },\n  {\n      \"value\": null,\n      \"hasError\": true,\n      \"error\": {\n          \"code\": \"FAILED\",\n          \"message\": \"1 ticket to seattle tomorrow. Error: The entity extractor builtin.number doesn't exist in the selected application\"\n      }\n  }\n]"
            }
          },
          "409": {
            "description": "This error can be returned if another \"Batch add labels\" was already in progress. Wait until the other operation finishes before starting a new one."
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Returns examples to be reviewed.",
        "operationId": "GetExamples",
        "summary": "example utterances - Review labeled examples",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A list of predictions and label pairs for every example in the application.",
            "examples": {
              "application/json": "[\n  {\n    \"id\": -12,\n    \"text\": \"what's the weather like in seattle?\",\n    \"tokenizedText\": [\n      \"what\",\n      \"'\",\n      \"s\",\n      \"the\",\n      \"weather\",\n      \"like\",\n      \"in\",\n      \"seattle\",\n      \"?\"\n    ],\n    \"intentLabel\": \"GetWeather\",\n    \"entityLabels\": [\n      {\n        \"entityName\": \"Location\",\n        \"startTokenIndex\": 7,\n        \"endTokenIndex\": 7\n      }\n    ],\n    \"intentPredictions\": [\n      {\n        \"name\": \"GetWeather\",\n        \"score\": 1\n      },\n      {\n        \"name\": \"None\",\n        \"score\": 0.21\n      },\n      {\n        \"name\": \"BookFlight\",\n        \"score\": 0\n      }\n    ],\n    \"entityPredictions\": [\n      {\n        \"entityName\": \"Location\",\n        \"startIndex\": 7,\n        \"endIndex\": 7,\n        \"phrase\": \"seattle\"\n      }\n    ]\n  },\n  {\n    \"id\": -11,\n    \"text\": \"book me a flight from cairo to redmond next thursday\",\n    \"tokenizedText\": [\n      \"book\",\n      \"me\",\n      \"a\",\n      \"flight\",\n      \"from\",\n      \"cairo\",\n      \"to\",\n      \"redmond\",\n      \"next\",\n      \"thursday\"\n    ],\n    \"intentLabel\": \"BookFlight\",\n    \"entityLabels\": [\n      {\n        \"entityName\": \"Location::To\",\n        \"startTokenIndex\": 7,\n        \"endTokenIndex\": 7\n      },\n      {\n        \"entityName\": \"Location::From\",\n        \"startTokenIndex\": 5,\n        \"endTokenIndex\": 5\n      }\n    ],\n    \"intentPredictions\": [\n      {\n        \"name\": \"BookFlight\",\n        \"score\": 0.93\n      },\n      {\n        \"name\": \"None\",\n        \"score\": 0.41\n      },\n      {\n        \"name\": \"GetWeather\",\n        \"score\": 0\n      }\n    ],\n    \"entityPredictions\": [\n      {\n        \"entityName\": \"datetime\",\n        \"startIndex\": 8,\n        \"endIndex\": 9,\n        \"phrase\": \"next thursday\"\n      }\n    ]\n  },\n  {\n    \"id\": -10,\n    \"text\": \"what's the weather like in paris?\",\n    \"tokenizedText\": [\n      \"what\",\n      \"'\",\n      \"s\",\n      \"the\",\n      \"weather\",\n      \"like\",\n      \"in\",\n      \"paris\",\n      \"?\"\n    ],\n    \"intentLabel\": \"GetWeather\",\n    \"entityLabels\": [\n      {\n        \"entityName\": \"Location\",\n        \"startTokenIndex\": 7,\n        \"endTokenIndex\": 7\n      }\n    ],\n    \"intentPredictions\": [\n      {\n        \"name\": \"GetWeather\",\n        \"score\": 1\n      },\n      {\n        \"name\": \"None\",\n        \"score\": 0.18\n      },\n      {\n        \"name\": \"BookFlight\",\n        \"score\": 0\n      }\n    ],\n    \"entityPredictions\": [\n      {\n        \"entityName\": \"Location\",\n        \"startIndex\": 7,\n        \"endIndex\": 7,\n        \"phrase\": \"paris\"\n      }\n    ]\n  },\n  {\n    \"id\": -9,\n    \"text\": \"book me a flight from redmond to new york next saturday\",\n    \"tokenizedText\": [\n      \"book\",\n      \"me\",\n      \"a\",\n      \"flight\",\n      \"from\",\n      \"redmond\",\n      \"to\",\n      \"new\",\n      \"york\",\n      \"next\",\n      \"saturday\"\n    ],\n    \"intentLabel\": \"BookFlight\",\n    \"entityLabels\": [\n      {\n        \"entityName\": \"Location::To\",\n        \"startTokenIndex\": 7,\n        \"endTokenIndex\": 8\n      },\n      {\n        \"entityName\": \"Location::From\",\n        \"startTokenIndex\": 5,\n        \"endTokenIndex\": 5\n      }\n    ],\n    \"intentPredictions\": [\n      {\n        \"name\": \"BookFlight\",\n        \"score\": 1\n      },\n      {\n        \"name\": \"None\",\n        \"score\": 0.16\n      },\n      {\n        \"name\": \"GetWeather\",\n        \"score\": 0\n      }\n    ],\n    \"entityPredictions\": [\n      {\n        \"entityName\": \"Location::From\",\n        \"startIndex\": 5,\n        \"endIndex\": 5,\n        \"phrase\": \"redmond\"\n      },\n      {\n        \"entityName\": \"Location::To\",\n        \"startIndex\": 7,\n        \"endIndex\": 8,\n        \"phrase\": \"new york\"\n      },\n      {\n        \"entityName\": \"datetime\",\n        \"startIndex\": 9,\n        \"endIndex\": 10,\n        \"phrase\": \"next saturday\"\n      }\n    ]\n  }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n"
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/examples/{exampleId}": {
      "delete": {
        "description": "Deletes the label with the specified ID. ",
        "operationId": "DeleteExample",
        "summary": "example utterances - Delete example labels",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "exampleId",
            "in": "path",
            "description": "The example ID.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing or malformed."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        }
      }
    },
    "/apps/{appId}/versions/{versionId}/patterns": {
      "post": {
        "description": "Creates a new pattern feature.",
        "operationId": "CreatePatternFeature",
        "summary": "features - Create pattern feature",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "patternCreateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PatternCreateObject"
            },
            "description": "A JSON object containing Name and Pattern of the feature."
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "The ID of the created feature.",
            "examples": {
              "application/json": "83147"
            }
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n\nSpecific reasons you can receive this error:\n\n* REGEX pattern is too complex\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Regex is too complex"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets all application version pattern features.",
        "operationId": "GetPatternFeatures",
        "summary": "features - Get version pattern feature list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of all pattern features.",
            "examples": {
              "application/json": "[\n  {\n    \"id\": 89178,\n    \"name\": \"EmailPattern\",\n    \"pattern\": \"\\\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\\\.[A-Z]{2,}\\\\b\",\n    \"isActive\": true\n  }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/phraselists": {
      "post": {
        "description": "Creates a new phraselist feature.",
        "operationId": "CreatePhraseListFeature",
        "summary": "features - Create phraselist feature",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "phraselistCreateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PhraselistCreateObject"
            },
            "description": "A JSON object containing Name, comma-separated Phrases and the isExchangeable boolean.\n            \nDefault value for isExchangeable is true."
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "The ID of the created feature.",
            "examples": {
              "application/json": "1823"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. "
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets all application phraselist features.",
        "operationId": "GetPhraseListFeatures",
        "summary": "features - Get version phraselist features list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of all phraselist features.",
            "examples": {
              "application/json": "[\n  {\n    \"id\": 321421,\n    \"name\": \"Cities\",\n    \"phrases\": \"Seattle,New York,Paris,Moscow,Beijin\",\n    \"isExchangeable\": true,\n    \"isActive\": true\n  },\n  {\n    \"id\": 97832,\n    \"name\": \"DaysOfWeek\",\n    \"phrases\": \"monday,tuesday,wednesday,thursday,friday,saturday,sunday\",\n    \"isExchangeable\": true,\n    \"isActive\": true\n  }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/patterns/{patternId}": {
      "delete": {
        "description": "Deletes a pattern feature from an application version.",
        "operationId": "DeletePatternFeature",
        "summary": "features - Delete pattern feature",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "patternId",
            "in": "path",
            "description": "The ID of the pattern feature to be deleted.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing or malformed."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        }
      },
      "get": {
        "description": "Gets pattern feature info.",
        "operationId": "GetPatternFeature",
        "summary": "features - Get pattern feature info",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "patternId",
            "in": "path",
            "description": "The pattern feature ID.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the pattern feature info.",
            "examples": {
              "application/json": {
                "id": 7892,
                "name": "EmailPattern",
                "pattern": "\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b",
                "isActive": true
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "put": {
        "description": "Updates the pattern, the name and the state of the pattern feature.",
        "operationId": "UpdatePatternFeature",
        "summary": "features - Update pattern feature",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "patternId",
            "in": "path",
            "description": "The ID of the feature to be updated.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "patternUpdateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PatternUpdateObject"
            },
            "description": "A JSON object with properties of one of the following examples:\n```json\n{\n    \"id\": 507628,\n    \"name\": \"testPattern\",\n    \"pattern\": \"\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\\\.[A-Z]{2,}\\b\",\n    \"isActive\": true\n}\n```\n```json\n{\"IsActive\":true}\n```"
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "200": {
            "description": ""
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. "
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        }
      }
    },
    "/apps/{appId}/versions/{versionId}/phraselists/{phraselistId}": {
      "delete": {
        "description": "Deletes a phraselist feature from an application.",
        "operationId": "DeletePhraseListFeature",
        "summary": "features - Delete phraselist feature",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "phraselistId",
            "in": "path",
            "description": "The ID of the feature to be deleted.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing or malformed."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        }
      },
      "get": {
        "description": "Gets phraselist feature info.",
        "operationId": "GetPhraseListFeature",
        "summary": "features - Get phraselist feature info",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "phraselistId",
            "in": "path",
            "description": "The phraselist feature ID.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the phraselist feature info.",
            "examples": {
              "application/json": {
                "id": 178384,
                "name": "DaysOfWeek",
                "phrases": "monday,tuesday,wednesday,thursday,friday,saturday,sunday",
                "isExchangeable": true,
                "isActive": true
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "put": {
        "description": "Updates the phrases, the state and the name of the phraselist feature.",
        "operationId": "UpdatePhraseListFeature",
        "summary": "features - Update phraselist feature",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "phraselistId",
            "in": "path",
            "description": "The ID of the feature to be updated.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "phraselistUpdateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PhraselistUpdateObject"
            },
            "description": "A JSON object with properties of one of the following examples:\n```json\n{\n    \"id\": 507596,\n    \"name\": \"Eno\",\n    \"phrases\": \"hello,goodbye know,e know,eno\",\n    \"isExchangeable\": true,\n    \"isActive\": true\n}\n```\n```json\n{\"IsActive\":true}\n```"
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "200": {
            "description": ""
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. "
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        }
      }
    },
    "/apps/{appId}/versions/{versionId}/features": {
      "get": {
        "description": "Gets all application version features.",
        "operationId": "GetApplicationFeatures",
        "summary": "features - Get version features",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The version ID of the task.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of all phraselist features and a list of all pattern featuers in the application.",
            "examples": {
              "application/json": {
                "phraselistFeatures": [
                  {
                    "id": 5341,
                    "name": "Cities",
                    "phrases": "Seattle,New York,Paris,Moscow,Beijin",
                    "isExchangeable": true,
                    "isActive": true
                  },
                  {
                    "id": 74598,
                    "name": "DaysOfWeek",
                    "phrases": "monday,tuesday,wednesday,thursday,friday,saturday,sunday",
                    "isExchangeable": true,
                    "isActive": true
                  }
                ],
                "patternFeatures": [
                  {
                    "id": 81231,
                    "name": "EmailPattern",
                    "pattern": "\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b",
                    "isActive": true
                  }
                ]
              }
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/prebuilts": {
      "post": {
        "description": "Adds a list of prebuilt entity extractors to the application.",
        "operationId": "AddPrebuildEntities",
        "summary": "models - Add prebuilt entity list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prebuiltExtractorNames",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PrebuiltExtractorNames"
            },
            "description": "An array of prebuilt entity extractor names."
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "An array of the created prebuilt extractor infos.",
            "examples": {
              "application/json": "[\n  {\n    \"id\": \"a18eaa87-ecd9-4a67-a951-e70cf5b87c7e\",\n    \"name\": \"datetimeV2\",\n    \"typeId\": 2,\n    \"readableType\": \"Prebuilt Entity Extractor\"\n  }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. "
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets information about the prebuilt entity models.",
        "operationId": "GetPrebuildEntities",
        "summary": "models - Get version prebuilt entity list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A list of prebuilt entity models infos.",
            "examples": {
              "application/json": "[\n    {\n        \"id\": \"a18eaa87-ecd9-4a67-a951-e70cf5b87c7e\",\n        \"name\": \"datetime\",\n        \"typeId\": 2,\n        \"readableType\": \"Prebuilt Entity Extractor\",\n        \"roles\": [\n            {\n                \"id\": \"eb64dfeb-b54a-4b8a-b2d5-9315beea055a\",\n                \"name\": \"role 1\"\n            },\n            {\n                \"id\": \"b3abd65c-d187-4bd0-9fd2-81cbd0dd2026\",\n                \"name\": \"role 2\"\n            }\n        ]\n    }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/closedlists": {
      "post": {
        "description": "Adds a list entity to the LUIS app.",
        "operationId": "AddListEntity",
        "summary": "models - Create closed list entity",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "closedListModelCreateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ClosedListModelCreateObject"
            },
            "description": "A model object containing the name and words for the new closed list entity extractor.\n\nThe name of the entity must be unique in the application and must not be used by a prebuilt entity. "
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "The ID of the created model.",
            "examples": {
              "application/json": "\"8713b104-78ec-4c4f-9f96-f2e53562cc16\""
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n  \nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n  \nThis error can be returned if you are attempting to create an entity list when the max sublist item count is already exceeded. The total item count across all sublists is 20,000.\n ```\n\"error\": {\n  \"code\": \"BadArgument\",\n  \"message\": \"Closed list mylist cannot have more than 20000 phrases\"\n}\n```\n```\n   \"error\": {\n      \"code\": \"BadArgument\",\n      \"message\": \"An application cannot have more than 50 closedlists.\"\n    }\n```\n"
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets information about the closedlist models.",
        "operationId": "GetClosedLists",
        "summary": "models - Get version closedlist list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A list of closedlist entity model infos.",
            "examples": {
              "application/json": "[\n    {\n        \"id\": \"8713b104-78ec-4c4f-9f96-f2e53562cc16\",\n        \"name\": \"States\",\n        \"typeId\": 5,\n        \"readableType\": \"Closed List Entity Extractor\",\n        \"subLists\": [\n            {\n                \"id\": 1,\n                \"canonicalForm\": \"new york\",\n                \"list\": [\n                    \"ny\",\n                    \"new york\"\n                ]\n            },\n            {\n                \"id\": 2,\n                \"canonicalForm\": \"washington\",\n                \"list\": [\n                    \"washington\",\n                    \"wa\"\n                ]\n            },\n            {\n                \"id\": 3,\n                \"canonicalForm\": \"california\",\n                \"list\": [\n                    \"california\",\n                    \"ca\",\n                    \"calif.\",\n                    \"cal.\"\n                ]\n            }\n        ],\n        \"roles\": [\n            {\n                \"id\": \"eb64dfeb-b54a-4b8a-b2d5-9315beea055a\",\n                \"name\": \"role 1\"\n            },\n            {\n                \"id\": \"b3abd65c-d187-4bd0-9fd2-81cbd0dd2026\",\n                \"name\": \"role 2\"\n            }\n        ]\n    }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/compositeentities": {
      "post": {
        "description": "Adds a composite entity extractor to the application.",
        "operationId": "AddCompositeEntity",
        "summary": "models - Create composite entity",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hierarchicalModelCreateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/HierarchicalModelCreateObject"
            },
            "description": "A model object containing the name and children of the new entity extractor.\n\nThe name of the entity must be unique in the application and must not be used by a prebuilt entity. "
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "The ID of the created Model.",
            "examples": {
              "application/json": "\"bc1bae43-7904-48ad-a165-88b1910174f9\""
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n\nThis error can be returned if you are attempting to create a composite entity child when the max child count is exceeded. \n\n```\n  \"error\": {\n    \"code\": \"BadArgument\",\n    \"message\": \"Number of entity children cannot exceed 10\"\n  }\n```\n"
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets information about the composite entity models.",
        "operationId": "GetCompositeEntities",
        "summary": "models - Get version composite entity list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A list of composite entity model infos.",
            "examples": {
              "application/json": "[\n    {\n        \"id\": \"bc1bae43-7904-48ad-a165-88b1910174f9\",\n        \"name\": \"Reservation\",\n        \"typeId\": 4,\n        \"readableType\": \"Composite Entity Extractor\",\n        \"children\": [\n            {\n                \"id\": \"63ebd752-4e81-4ce7-a698-b59b82bf5519\",\n                \"name\": \"Location::To\"\n            },\n            {\n                \"id\": \"a18eaa87-ecd9-4a67-a951-e70cf5b87c7e\",\n                \"name\": \"datetime\"\n            }\n        ],\n        \"roles\": [\n            {\n                \"id\": \"eb64dfeb-b54a-4b8a-b2d5-9315beea055a\",\n                \"name\": \"role 1\"\n            },\n            {\n                \"id\": \"b3abd65c-d187-4bd0-9fd2-81cbd0dd2026\",\n                \"name\": \"role 2\"\n            }\n        ]\n    }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/entities": {
      "post": {
        "description": "Adds an entity extractor to the application.",
        "operationId": "AddEntity",
        "summary": "models - Create entity",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelCreateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ModelCreateObject"
            },
            "description": "A model object containing the name for the new entity extractor. \n\nThe name of the entity must be unique in the application and must not be used by a prebuilt entity. "
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "The ID of the created model.",
            "examples": {
              "application/json": "\"3d73462d-98f0-4dcd-8d30-fab9e65f2e73\""
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n\nThis error can be returned if you are attempting to create an entity when the max entity count is exceeded. \n\n```\n{\n  \"error\": {\n    \"code\": \"BadArgument\",\n    \"message\": \"An application cannot have more than 30 entities.\"\n  }\n}\n```\n"
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets information about the entity models.",
        "operationId": "GetEntities",
        "summary": "models - Get version entity list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A list of entity model infos.",
            "examples": {
              "application/json": "[\n    {\n        \"id\": \"3d73462d-98f0-4dcd-8d30-fab9e65f2e73\",\n        \"name\": \"DayOfWeek\",\n        \"typeId\": 1,\n        \"readableType\": \"Entity Extractor\",\n        \"roles\": [\n            {\n                \"id\": \"eb64dfeb-b54a-4b8a-b2d5-9315beea055a\",\n                \"name\": \"role 1\"\n            },\n            {\n                \"id\": \"b3abd65c-d187-4bd0-9fd2-81cbd0dd2026\",\n                \"name\": \"role 2\"\n            }\n        ]\n    },\n    {\n        \"id\": \"b8e31be4-300f-455e-894b-6f079abca0a2\",\n        \"name\": \"$Camera.AppName\",\n        \"typeId\": 1,\n        \"readableType\": \"Entity Extractor\",\n        \"customPrebuiltDomainName\": \"Camera\",\n        \"customPrebuiltModelName\": \"AppName\"\n    }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/hierarchicalentities": {
      "post": {
        "description": "Adds a hierarchical entity extractor to the application version.",
        "operationId": "AddHierarchialEntity",
        "summary": "models - Create hierarchical entity",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hierarchicalModelCreateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/HierarchicalModelCreateObject"
            },
            "description": "A model object containing the name and children of the new entity extractor.\n\nThe name of the entity must be unique in the application and must not be used by a prebuilt entity. "
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "The ID of the created model.",
            "examples": {
              "application/json": "\"fe559c31-9778-42ea-ba45-94e0bd7cf767\""
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n\nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n\nThis error can be returned if you are attempting to create a hierarchical entity when the max child count is exceeded. \n```\n{\n  \"error\": {\n    \"code\": \"BadArgument\",\n    \"message\": \"Number of entity children cannot exceed 10\"\n  }\n}\n```\n"
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets information about the hierarchical entity models.",
        "operationId": "GethierarchicalEntities",
        "summary": "models - Get version hierarchical entity list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
            "type": "integer",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "A list of hierarchical entity model infos.",
            "examples": {
              "application/json": "[\n    {\n        \"id\": \"fe559c31-9778-42ea-ba45-94e0bd7cf767\",\n        \"name\": \"Location\",\n        \"typeId\": 3,\n        \"readableType\": \"Hierarchical Entity Extractor\",\n        \"children\": [\n            {\n                \"id\": \"ec076676-d8d9-42fa-a44e-87989c0a2f82\",\n                \"name\": \"From\"\n            },\n            {\n                \"id\": \"63ebd752-4e81-4ce7-a698-b59b82bf5519\",\n                \"name\": \"To\"\n            }\n        ],\n        \"roles\": [\n            {\n                \"id\": \"eb64dfeb-b54a-4b8a-b2d5-9315beea055a\",\n                \"name\": \"role 1\"\n            },\n            {\n                \"id\": \"b3abd65c-d187-4bd0-9fd2-81cbd0dd2026\",\n                \"name\": \"role 2\"\n            }\n        ]\n    }\n]"
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large."
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      }
    },
    "/apps/{appId}/versions/{versionId}/intents": {
      "post": {
        "description": "Adds an intent classifier to the application.",
        "operationId": "AddIntent",
        "summary": "models - Create intent",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. ID of the application.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelCreateObject",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ModelCreateObject"
            },
            "description": "A model object containing the name of the new intent classifier."
          }
        ],
        "consumes": ["application/json"],
        "responses": {
          "201": {
            "description": "The ID of the created model.",
            "examples": {
              "application/json": "\"227a71ed-7d4b-4dce-8f3a-16c4e5cc06e8\""
            }
          },
          "429": {
            "description": "Rate limit is exceeded."
          },
          "400": {
            "description": "This error can be returned if the request's parameters are incorrect meaning the required parameters are missing, malformed, or too large.\n    \nThis error can be returned if the request's body is incorrect meaning the JSON is missing, malformed, or too large. \n    \nThis error can be returned if you are attempting to create an intent when the max intent count is exceeded. \n```\n{\n      \"error\": {\n        \"code\": \"BadArgument\",\n        \"message\": \"An application cannot have more than 80 intents.\"\n      }\n    }\n```\n"
          },
          "401": {
            "description": "You do not have access. \n\nReasons can include:\n\n* used endpoint subscription key, instead of authoring key\n* invalid, malformed, or empty authoring key\n* authoring key doesn't match region\n* you are not the owner or collaborator\n* invalid order of API calls\n"
          },
          "403": {
            "description": "Total monthly key quota limit exceeded"
          }
        },
        "produces": ["application/json"]
      },
      "get": {
        "description": "Gets information about the intent models.",
        "operationId": "GetIntents",
        "summary": "models - Get version intent list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Format - guid. The application ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The task version ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip. Default value is 0.",
            "type": "integer",
            "default": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries to return. Maximum page size is 500. Default is 100.",
[...]
